<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AltoControls" version="1.0.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="FontsInstaller" version="1.3.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="WiLBiT" version="1.1.4" targetFramework="net48" />
</packages>